@model WebApplication1.ViewModels.TweetsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2> Tweets </h2>

@using (Html.BeginForm("Create", "Tweets"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tweet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TweetFormViewModel.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TweetFormViewModel.Content, new { @class = "form-control", rows = "5", style = "width: 100%; max-width:70%; resize: none;"})
                @Html.ValidationMessageFor(model => model.TweetFormViewModel.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<table class="table" id="tweets">
    <tr>
        <th> Username </th>
        <th> Content </th>
        <th> CreatedAt </th>
        <th> Actions </th>
    </tr>
    @foreach (var tweet in Model.Tweets)
    {
        if (!Model.Reports.Contains(@tweet.Id))
        {
            <tr>
                <td><a href="@Url.Action("ShowProfile", "Profiles", new { username = @tweet.User.Name })"> @tweet.User.Name </a></td>
                <td> @tweet.Content </td>
                <td> @tweet.CreatedAt.ToString("g")</td>
                @if (Model.IsAuthenticated)
                {
                    <td>
                        <button class="btn btn-link js-reply" data-username="@tweet.User.Name" data-tweet-id="@tweet.Id"> Reply </button>
                        <button class="btn btn-link js-retweet @(Model.Retweets.Contains(@tweet.Id) ? "retweeted" : "retweet") " data-tweet-id="@tweet.Id">
                            @(Model.Retweets.Contains(@tweet.Id) ? "Retweeted" : "Retweet")
                        </button>
                        <button class="btn btn-link js-like @(Model.Likes.Contains(@tweet.Id) ? "liked" : "like") " data-tweet-id="@tweet.Id">
                            @(Model.Likes.Contains(@tweet.Id) ? "Liked" : "Like")
                        </button>
                        <button class="btn btn-link js-report" data-username="@tweet.User.Name" data-tweet-id="@tweet.Id">
                            Report
                        </button>
                    </td>
                }
            </tr>
        }
    }
</table>
@section scripts {
    <script>
        $(document).ready(function() {
            RetweetsController.init("#tweets");
            LikesController.init("#tweets");
            ReportsController.init("#tweets");
            ReplyController.init("#tweets");
        });
    </script>
}