@model WebApplication1.ViewModels.TweetsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2> Tweets </h2>

@using (Html.BeginForm("Create", "Tweets"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tweet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TweetFormViewModel.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TweetFormViewModel.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TweetFormViewModel.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th> Username </th>
        <th> Content </th>
        <th> CreatedAt </th>
        <th> Actions </th>
    </tr>
    @foreach (var tweet in Model.Tweets)
    {
        <tr>
            <td><a href="@Url.Action("ShowProfile", "Profiles", new { id = @tweet.UserId })"> @tweet.User.UserName </a></td>
            <td> @tweet.Content </td>
            <td> @tweet.CreatedAt.ToString("g")</td>
            @if (Model.IsAuthenticated)
            {
                <td>
                    <a href="#"> Reply </a>
                    <a href="#"> Retweet </a>
                    <button class="btn btn-link js-like @(Model.Likes.Contains(@tweet.Id) ? "liked" : "like") " data-tweet-id="@tweet.Id">
                        @(Model.Likes.Contains(@tweet.Id) ? "Liked" : "Like") 
                    </button>
                    <a href="#"> Report </a>
                </td>
            }
        </tr>
    }
</table>
@section scripts {
    <script>
        $(document).ready(function() {
            $(".js-like").click(function(e) {
                button = $(e.target);
                if (button.hasClass("liked")) {
                    $.ajax({
                        url: "/api/likes/" + button.attr("data-tweet-id"),
                        method: "DELETE"
                    })
                        .done(function() {
                            button.text("Like");
                        }).fail(function() {
                            alert("Something went wrong");
                        });
                } else {
                    $.post("/api/likes", { TweetId: button.attr("data-tweet-id") })
                        .done(function() {
                            button.text("Liked");
                        })
                        .fail(function() {
                            alert("Something went wrong!");
                        });
                }
            });
        });
    </script>
}